<p-toast></p-toast>

<div class="card mb-3">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="openModal()"></button>
            <button pButton pRipple label="Supprimer la sélection" icon="pi pi-trash" class="p-button-danger"
                (click)="deleteSelectedItems()" [disabled]="!selectedItems || !selectedItems.length"></button>
        </ng-template>
    </p-toolbar>

    <p-table [value]="items" [rows]="10" [paginator]="true" [(selection)]="selectedItems" [rowHover]="true"
        dataKey="id">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="name">Nom <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="icon">Icone <p-sortIcon field="icon"></p-sortIcon></th>
                <th pSortableColumn="color">Couleur <p-sortIcon field="color"></p-sortIcon></th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-category>
            <tr>
                <td>
                    <p-tableCheckbox [value]="category"></p-tableCheckbox>
                </td>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.icon }}</td>
                <td>{{ category.color }}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2"
                        (click)="openModal(category)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                        (click)="deleteItem(category)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center">
                Total : {{ items ? items.length : 0 }} catégories
            </div>
        </ng-template>
    </p-table>
</div>

<!-- Modal Ajout/Modif -->
<p-dialog [(visible)]="showFormModal" header="Ajouter une catégorie" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="formCrud">
            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-user-edit"></i>
                </p-inputGroupAddon>
                <input pInputText placeholder="Nom" formControlName="name">
            </p-inputGroup>
            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-image"></i>
                </p-inputGroupAddon>
                <input pInputText placeholder="Icone" formControlName="icon">
            </p-inputGroup>
            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-pencil"></i>
                </p-inputGroupAddon>
                <input pInputText placeholder="Couleur" formControlName="color">
            </p-inputGroup>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text"
            (click)="closeModal()"></button>
        @if (formCrud.valid && !formCrud.get("id")?.value) {
        <button pButton pRipple label="Créer" icon="pi pi-check" class="p-button-text" (click)="addItem()"></button>
        } @else if (formCrud.valid && formCrud.get("id")?.value) {
        <button pButton pRipple label="Editer" icon="pi pi-check" class="p-button-text" (click)="editItem()"></button>
        } @else {
        <button pButton pRipple label="Sauvegarder" icon="pi pi-check" class="p-button-text" disabled></button>
        }
    </ng-template>
</p-dialog>

<p-confirmDialog acceptLabel="Oui" rejectLabel="Non"></p-confirmDialog>