<h1>Gestion des Comptes</h1>

@if (accountIdToShow === 0) {
<!-- Accounts List -->
<app-accounts-list (ouputOpenAccount)="receiveOpenAccount($event)"></app-accounts-list>
}
@else {
<!-- Account Details -->
<button pButton pRipple icon="pi pi-arrow-left" class="p-button p-button-primary ml-3" (click)="back()"
    label="Revenir à la liste des comptes"></button>
<hr class="mt-5 mb-5">
<app-accounts-details [accountId]="accountIdToShow" [accountName]="accountToShow.name"
    [accountBalance]="accountToShow.balance"></app-accounts-details>
}